img{
  width: 40%;
  display: inline-flex;
  align-items: center;
}

/* .float-div{
  display: flex;
} */

.flag{
  float: right;

}

table, th, td{
  border: 1px solid black;
}

table{
  width: 70%;
  text-align: center;
}

/* .bg-pic{
  background-image: url("/images/flag.gif");
  background-size: cover;
} */

.nav-item:hover{
  background-color: aqua;
}